.gradle/
build/
out/
run/
releases/
*.bak

src/main/java/fr/mtrfra/mod/

.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
bin/
*.launch

*.DS_Store

hs_err_*.log
replay_*.log
*.hprof
*.jfr
