BveTs Vehicle Sound 3.01:utf-8
# Sons pour CAF Urbos 3 (tram)
# Minimal et optimisé pour un tram, compatible MTR

[MTR]
DoorCloseSoundLength = 1.0
BreakerDelay = 0
MotorOutputAtCoast = 0.3
RegenerationLimit = 0

[Run]
0 = run.wav

[Flange]
0 = flange.wav

[Joint]
0 = point.wav

[Motor]
0 = motor0.wav

[Brake]
BcReleaseFull =
BcReleaseHigh = airhigh.wav
Emergency = 

[Door]
Open = dooropn.wav
Close = doorcls.wav

[Others]
Noise = loop.wav
Shoe = rub.wav